{% extends "base.html" %}

{% load humanize %}

{% block content %}

    <h1 class="my5">Dividend Schedules</h1>
    <span class="mr-0">
    <a href="{% url 'dividend_schedule.new' %}" class="btn btn-secondary">New Dividend Schedule</a>
    <a href="{% url 'dividend_schedule.scrape_urls_for_ex_div' %}" class="btn btn-secondary"
       onclick="startSpinner()">
        <span id="spinner-box" class="spinner-border spinner-border-sm not-visible" role="status" aria-hidden="true"></span>
        Scrape for Dividend Schedules</a>
    </span>

    <table id="datatable1" class="display stripe cell-border"
           style="width:100%" searching="true">
    <thead>

        <tr class="col-head">
            <th class="sorting_enabled">Instrument</th>
            <th class="sorting_enabled">ExDiv Date</th>
            <th class="sorting_enabled">Payment Date</th>
            <th class="sorting_enabled">Payment</th>
            <th class="sorting_enabled">Created On</th>
            <th class="sorting_enabled">Updated On</th>
            <th></th>
        </tr>
        <tr>
            <th>Instrument</th>
            <th>ExDiv Date</th>
            <th>Payment Date</th>
            <th>Payment</th>
            <th>Created On</th>
            <th>Updated On</th>
            <th></th>
        </tr>
    </thead>
        <tbody>
            {% for row in dividend_schedules %}
            <tr>
                <td>
                    <a href="{% url 'dividend_schedule.details' pk=row.id %}" class="test-dark text-decoration-non">
                        {{ row.instrument }}
                    </a>
                </td>
                <td  data-sort="{{row.ex_div_date}}" >{{row.ex_div_date}}</td>
                <td>{{row.payment_date}}</td>
                <td>£{{row.payment.normalize |intcomma}}</td>
                <td>{{row.created_on}}</td>
                <td>{{row.updated_on}}</td>
                <td>
                    <i style="color: blue;" class="fa fa-edit"
                       onclick="window.location.href='{% url 'dividend_schedule.update' pk=row.id %}'">&nbsp;&nbsp;</i>
                    <i style="color: red;" class="fa fa-trash"
                       onclick="window.location.href='{% url 'dividend_schedule.delete' pk=row.id %}'"></i>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>

        </tfoot>
    </table>


<script>

    function startSpinner() {
        const spinnerBox = document.getElementById('spinner-box')
        spinnerBox.classList.remove('not-visible')
    }

    $(document).ready(function() {
        var EX_DIV_COL = 1
        var PAY_DATE_COL = 2
        var PAYMENT_COL = 3
        var CREATED_COL = 4
        var UPDATED_COL = 5

        $('#datatable1').DataTable({
            order: [[EX_DIV_COL, 'desc']],
            stateSave: true,
            columnDefs: [
                {
                    targets: [EX_DIV_COL,PAY_DATE_COL], // your field position
                    type: 'datetime',
                    render: function (data, type, row, meta) {
                        var momentObj = moment(data, 'MMM. DD, YYYY');
                        if (type === 'sort') {
                            return momentObj.format('YYYY-MM-DD');
                            // return momentObj.unix();
                        }
                        return momentObj.format('DD MMM YYYY');
                    },
                    orderable: true
                },
                {
                    targets: [CREATED_COL,UPDATED_COL], // created on, updated on
                    type: 'datetime',
                    render: function (data, type, row, meta) {
                        var momentObj = moment(data, 'MMM DD, YYYY, h:mm a');
                        if (type === 'sort') {
                            return momentObj.unix();
                        }
                        return momentObj.format('DD MMM YYYY HH:mm');
                    },
                    orderable: true
                }
            ],

            initComplete: function () {
                this.api()
                    .columns()
                    .every(function () {
                        let column = this;
                        let title = column.header().textContent;

                        // Create input element
                        let input = document.createElement('input');
                        input.placeholder = title;
                        column.header().replaceChildren(input);

                        // Event listener for user input
                        input.addEventListener('keyup', () => {
                            if (column.search() !== this.value) {
                                column.search(input.value).draw();
                            }
                        });
                    });
            },

        footerCallback: function (row, data, start, end, display) {
                let api = this.api();

                // Remove the formatting to get integer data for summation
                let intVal = function (i) {
                    return typeof i === 'string'
                        ? i.replace(/[\$£,]/g, '') * 1
                        : typeof i === 'number'
                        ? i
                        : 0;
                };
                for (var col = PAYMENT_COL; col <= PAYMENT_COL; col++) {
                    col_total = api
                        .column(col, { page: 'current' })
                        .data()
                        .reduce((a, b) => intVal(a) + intVal(b), 0);
                    var col_total = new Intl.NumberFormat("en-UK", {
                      style: "currency",
                      currency: "GBP"
                    }).format(col_total);
                     // Update footer
                    api.column(col).footer().innerHTML = col_total;
                };
            }


        });
    } );

</script>

{% endblock %}