{% extends "base.html" %}

{% block content %}
<div class="border round">
    <h1 class="my-5">{{dividend_schedule.instrument}}</h1>
    <p>{{dividend_schedule.ex_div_date}}</p>
    <p>{{dividend_schedule.payment_date}}</p>
    <p>{{dividend_schedule.payment}}</p>

    <p>{{dividend_schedule.created_on}}</p>
    <p>{{dividend_schedule.updated_on}}</p>
</div>

<a href="{% url 'dividend_schedule.list' %}" class="btn btn-secondary my-5">List</a>
<a href="{% url 'dividend_schedule.update' pk=dividend_schedule.id%}" class="btn btn-secondary">Edit</a>
<a href="{% url 'dividend_schedule.delete' pk=dividend_schedule.id%}" class="btn btn-danger">Delete</a>

{% endblock %}