{% extends "base.html" %}

{% block content %}
<div class="border round">
    <h1 class="my-5">{{dividend.instrument}}</h1>
    <p>{{dividend.portfolio}}</p>
    <p>{{dividend.description}}</p>
    <p>{{dividend.amount}}</p>
    <p>{{dividend.payment_date}}</p>
    <p>{{dividend.created_on}}</p>
    <p>{{dividend.updated_on}}</p>
</div>

<a href="{% url 'dividend.list' %}" class="btn btn-secondary my-5">List</a>
<a href="{% url 'dividend.update' pk=dividend.id%}" class="btn btn-secondary">Edit</a>
<a href="{% url 'dividend.delete' pk=dividend.id%}" class="btn btn-danger">Delete</a>

{% endblock %}