{% extends "base.html" %}

{% load humanize %}

{% block content %}

    <h1 class="my5">Dividends</h1>
    <table id="datatable1" class="display stripe table-bordered"
           style="width:100%" searching="true">
    <thead>

        <tr class="col-head">
            <th class="sorting_enabled">Payment Date</th>
            <th class="sorting_enabled">Amount</th>
            <th class="sorting_enabled">Instrument</th>
            <th class="sorting_enabled">Portfolio</th>
            <th class="sorting_enabled">Description</th>
            <th class="sorting_enabled">Created On</th>
            <th class="sorting_enabled">Updated On</th>
            <th>Id</th>
            <th></th>
        </tr>
    </thead>
        <tbody>
            {% for dividend in dividends %}
            <tr>
                <td>{{dividend.payment_date}}</td>
                <td>£{{dividend.amount |intcomma}}</td>
                <td>
                    <a href="{% url 'dividend.details' pk=dividend.id %}" class="test-dark text-decoration-non">
                        {{ dividend.instrument }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'portfolio.details' pk=dividend.portfolio.id %}" class="test-dark text-decoration-non">
                        {{dividend.portfolio}}
                    </a>
                </td>
                <td>{{dividend.description}}</td>
                <td>{{dividend.created_on}}</td>
                <td>{{dividend.updated_on}}</td>
                <td>
                    <button onclick="window.location.href='{% url 'dividend.update' pk=dividend.id %}'"
                            class="test-dark text-decoration-non">Edit {{dividend.id}}</button>
                </td>
                <td>
                    <button onclick="window.location.href='{% url 'dividend.delete' pk=dividend.id %}'"
                            class="test-dark text-decoration-non">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<a href="{% url 'dividend.new' %}" class="btn btn-secondary my-5">New</a>

<script>

    $(document).ready(function() {
        $('#datatable1').DataTable({
            order: [[0, 'desc']],
            columnDefs: [
                {
                    targets: [0], // payment date
                    type: 'date',
                    render: function (data, type, row, meta) {
                        var momentObj = moment(data, 'DD MMM YYYY');
                        if (type === 'sort') {
                            return momentObj.unix();
                        }
                        return momentObj.format('DD MMM YYYY');
                    },
                    orderable: true
                },
                {
                    targets: [5,6], // created on, updated on
                    type: 'datetime',
                    render: function (data, type, row, meta) {
                        var momentObj = moment(data, 'MMM. DD, YYYY, h:mm a');
                        if (type === 'sort') {
                            return momentObj.unix();
                        }
                        return momentObj.format('MMM. DD, YYYY, h:mm a');
                    },
                    orderable: true
                }
            ]
        });
    } );

</script>

{% endblock %}