
.sell {
  color: red;
}

.buy {
  color: blue;
}

th { white-space: nowrap; }

tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

ul.errorlist {display:none}




