{% extends "base.html" %}

{% load humanize %}

{% block content %}
    <h1 >Cash</h1>
    <a href="{% url 'cash.new' %}" class="btn btn-secondary mr-0">New Cash Entry</a>
    <table id="datatable1" class="display stripe cell-border"
           style="width:100%" searching="true">
    <thead>

        <tr class="col-head">
            <th>Type</th>
            <th>Payment Date</th>
            <th>Amount</th>
            <th>Portfolio</th>
            <th>Description</th>
            <th>Created On</th>
            <th>Updated On</th>
            <th></th>
        </tr>
            <tr class="col-head">
            <th>Type</th>
            <th>Payment Date</th>
            <th>Amount</th>
            <th>Portfolio</th>
            <th>Description</th>
            <th>Created On</th>
            <th>Updated On</th>
            <th></th>
        </tr>
    </thead>
        <tbody>
            {% for row in cash_list %}
            <tr>
                <td>{{row.type}}</td>
                <td>{{row.payment_date}}</td>
                <td>£{{row.amount |intcomma}}</td>
                <td>
                    <a href="{% url 'portfolio.details' pk=row.portfolio.id %}" class="test-dark text-decoration-non">
                        {{row.portfolio}}
                    </a>
                </td>
                <td>{{row.description}}</td>
                <td>{{row.created_on}}</td>
                <td>{{row.updated_on}}</td>
                <td>
                    <i style="color: blue;" class="fa fa-edit"
                        onclick="window.location.href='{% url 'cash.update' pk=row.id %}'">&nbsp;&nbsp;</i>
                    <i style="color: red;" class="fa fa-trash"
                        onclick="window.location.href='{% url 'cash.delete' pk=row.id %}'"></i>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


<script>
    $(document).ready(function() {
        $('#datatable1').DataTable({
            order: [[1, 'desc']],
            stateSave: true,
            columnDefs: [
                {
                    targets: [1], // your field position
                    type: 'datetime',
                    render: function (data, type, row, meta) {
                        var momentObj = moment(data, 'MMM DD YYYY');
                        if (type === 'sort') {
                            return momentObj.unix();
                        }
                        return momentObj.format('DD MMM YYYY');
                    },
                    orderable: true
                },
                {
                    targets: [5,6], // your field position
                    type: 'datetime',
                    render: function (data, type, row, meta) {
                        var momentObj = moment(data, 'MMM DD, YYYY, h:mm a');
                        if (type === 'sort') {
                            return momentObj.unix();
                        }
                        return momentObj.format('DD MMM YYYY HH:mm');
                    },
                    orderable: true
                }
            ],

            initComplete: function () {
                this.api()
                    .columns()
                    .every(function () {
                        let column = this;
                        let title = column.header().textContent;

                        // Create input element
                        let input = document.createElement('input');
                        input.placeholder = title;
                        column.header().replaceChildren(input);

                        // Event listener for user input
                        input.addEventListener('keyup', () => {
                            if (column.search() !== this.value) {
                                column.search(input.value).draw();
                            }
                        });
                    });
            },


        });
    } );
</script>

{% endblock %}
