{% extends "base.html" %}
{% load static %}


{% load humanize %}

{% block content %}
    <h1 class="my5">Instruments</h1>
    <a href="{% url 'instrument.new' %}" class="btn btn-secondary mr-0">New Instrument</a>

    <table id="datatable1" class="display stripe cell-border"
           style="width:100%" searching="true">
    <thead>

        <tr>
            <th>Code</th>
            <th>Sedol</th>
            <th>Alt Code</th>
            <th>Description</th>
            <th>Price Source</th>
            <th>Price Source Code</th>
            <th>Yahoo</th>
            <th>Dividend Info Link</th>
            <th>Company Link</th>
            <th>Created On</th>
            <th>Updated On</th>
            <th>Action</th>
        </tr>
    </thead>
        <tbody>
           {% for instrument in instruments %}
            <tr>
                <td>
                    <a href="{% url 'instrument.details' pk=instrument.id %}" class="test-dark text-decoration-non">
                    {{ instrument.code }}
                    </a>
                </td>
                <td>{{instrument.sedol}}</td>
                <td>{{instrument.alt_code}}
                </td>
                <td>{{instrument.description}}</td>
                <td>{{instrument.price_source}}</td>
                <td>{{instrument.price_source_code}}
                </td>
                <td>{% if instrument.price_source_code != '' %}
                        <a href="https://uk.finance.yahoo.com/quote/{{instrument.price_source_code}}">
                            <i class="fa fa-info"></i>
                        </a>&nbsp;
                        <a href="https://uk.finance.yahoo.com/chart/{{instrument.price_source_code}}">
                            <i class="fa fa-line-chart"></i>
                        </a>
                    {% endif %}
                </td>
                <td><a href="{{instrument.dividend_info_link}}"
                       class="test-dark text-decoration-non">
                    {{instrument.dividend_info_link}}
                </a></td>
                <td><a href="{{instrument.company_link}}"
                       class="test-dark text-decoration-non">
                    {{instrument.company_link}}
                </a></td>
                <td>{{instrument.created_on}}</td>
                <td>{{instrument.updated_on}}</td>
                <td>
                    <i style="color: blue;" class="fa fa-edit" onclick="window.location.href='{% url 'instrument.update' pk=instrument.id %}'">&nbsp;</i>
                    &nbsp;
                    <i style="color: red;" class="fa fa-trash" onclick="window.location.href='{% url 'instrument.delete' pk=instrument.id %}'">&nbsp;</i>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>



<script>
    $(document).ready(function() {
        $('#datatable1').DataTable({
            stateSave: true,
        });
    } );
</script>

{% endblock %}