{% extends "base.html" %}
{% load static %}


{% load humanize %}

{% block content %}
    <h1 class="my5">Instruments</h1>
    <a href="{% url 'instrument.new' %}" class="btn btn-secondary mr-0">New Instrument</a>

    <table id="datatable1" class="display stripe cell-border"
           style="width:100%" searching="true">
    <thead>

        <tr class="col-head">
            <th class="sorting_enabled">Code</th>
            <th class="sorting_enabled">Sedol</th>
            <th class="sorting_enabled">Description</th>
            <th class="sorting_enabled">Price Source</th>
            <th class="sorting_enabled">Dividend Info Link</th>
            <th class="sorting_enabled">Company Link</th>

            <th class="sorting_enabled">Created On</th>
            <th class="sorting_enabled">Updated On</th>
            <th>Id</th>
            <th></th>
        </tr>
    </thead>
        <tbody>
           {% for instrument in instruments %}
            <tr>
                <td>
                    <a href="{% url 'instrument.details' pk=instrument.id %}" class="test-dark text-decoration-non">
                    {{ instrument.code }}
                    </a>
                </td>
                <td>{{instrument.sedol}}</td>
                <td>{{instrument.description}}</td>
                <td>{{instrument.price_source}}</td>
                <td><a href="{{instrument.dividend_info_link}}"
                       class="test-dark text-decoration-non">
                    {{instrument.dividend_info_link}}
                </a></td>
                <td><a href="{{instrument.company_link}}"
                       class="test-dark text-decoration-non">
                    {{instrument.company_link}}
                </a></td>
                <td>{{instrument.created_on}}</td>
                <td>{{instrument.updated_on}}</td>
                <td>
                    <button onclick="window.location.href='{% url 'instrument.update' pk=instrument.id %}'"
                            class="test-dark text-decoration-non">Edit {{row.id}}</button>
                </td>
                <td>
                    <button onclick="window.location.href='{% url 'instrument.delete' pk=instrument.id %}'"
                            class="test-dark text-decoration-non">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>



<script>
    $(document).ready(function() {
        $('#datatable1').DataTable({
            stateSave: true,
        });
    } );
</script>

{% endblock %}