{% extends "base.html" %}
{% load static %}


{% load humanize %}

{% block content %}
    <h1 class="my5">Instruments</h1>

    <table id="datatable1" class="display stripe table-bordered"
           style="width:100%" searching="true">
    <thead>

        <tr class="col-head">
            <th class="sorting_enabled">Code</th>
            <th class="sorting_enabled">Sedol</th>
            <th class="sorting_enabled">Descritpion</th>
            <th class="sorting_enabled">Price Source</th>
            <th class="sorting_enabled">Created On</th>
            <th class="sorting_enabled">Updated On</th>
            <th>Id</th>
            <th></th>
        </tr>
    </thead>
        <tbody>
           {% for instrument in instruments %}
            <tr>
                <td>
                    <a href="{% url 'instrument.details' pk=instrument.id %}" class="test-dark text-decoration-non">
                    {{ instrument.code }}
                    </a>
                </td>
                <td>{{instrument.sedol}}</td>
                <td>{{instrument.description}}</td>
                <td>{{instrument.price_source}}</td>
                <td>{{instrument.created_on}}</td>
                <td>{{instrument.updated_on}}</td>
                <td>
                    <button onclick="window.location.href='{% url 'instrument.update' pk=instrument.id %}'"
                            class="test-dark text-decoration-non">Edit {{row.id}}</button>
                </td>
                <td>
                    <button onclick="window.location.href='{% url 'instrument.delete' pk=instrument.id %}'"
                            class="test-dark text-decoration-non">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>

<a href="{% url 'instrument.new' %}" class="btn btn-secondary my-5">New</a>

<script>
    $(document).ready(function() {
        $('#datatable1').DataTable();
    } );
</script>

{% endblock %}