{% extends "base.html" %}
{% load static %}


{% load humanize %}

{% block content %}
    <h1 class="my5">Instrument Prices</h1>
    <span class="mr-0">
    <a href="{% url 'instrument_price.new' %}" class="btn btn-secondary">New Instrument Price</a>
    <a href="{% url 'instrument_price.loadYfin' %}" class="btn btn-secondary"
       onclick="startSpinner()">
        <span id="spinner-box" class="spinner-border spinner-border-sm not-visible" role="status" aria-hidden="true"></span>
        Download from YFinance</a>
    </span>

    <table id="datatable1" class="display stripe cell-border"
           style="width:100%" searching="true">
    <thead>
        <tr>
            <th>Instrument</th>
            <th>Price Source</th>
            <th>Open</th>
            <th>Close</th>
            <th>High</th>
            <th>Low</th>
            <th>Volume</th>
            <th>Price</th>
            <th>Chg</th>
            <th>Chg (%)</th>
            <th>Created On</th>
            <th>Updated On</th>
            <th>Id</th>
            <th></th>
        </tr>
    </thead>
        <tbody>
           {% for instrument_price in instrument_prices %}
            <tr>
                <td>
                    <a href="{% url 'instrument_price.details' pk=instrument_price.id %}" class="test-dark text-decoration-non">
                    {{ instrument_price.instrument }}
                    </a>
                </td>
                <td>{{instrument_price.price_source}}</td>
                <td>{{instrument_price.open.normalize}}</td>
                <td>{{instrument_price.close.normalize}}</td>
                <td>{{instrument_price.high.normalize}}</td>
                <td>{{instrument_price.low.normalize}}</td>
                <td>{{instrument_price.volume.normalize | intcomma}}</td>
                <td {% if instrument_price.change < 0 %} style="color: red;"
                          {% else %}style="color: blue;"
                          {% endif %}>
                {{instrument_price.price.normalize}}
                </td>
                <td {% if instrument_price.change < 0 %} style="color: red;"
                          {% else %}style="color: blue;"
                          {% endif %}>
                    {{instrument_price.change.normalize}}
                </td>
                <td {% if instrument_price.change_percent < 0 %} style="color: red;"
                          {% else %}style="color: blue;"
                          {% endif %}>
                    {{instrument_price.change_percent.normalize}} %
                </td>
                <td>{{instrument_price.created_on}}</td>
                <td>{{instrument_price.updated_on}}</td>
                <td>
                    <button onclick="window.location.href='{% url 'instrument_price.update' pk=instrument_price.id %}'"
                            class="test-dark text-decoration-non">Edit {{instrument_price.id}}</button>
                </td>
                <td>
                    <button onclick="window.location.href='{% url 'instrument_price.delete' pk=instrument_price.id %}'"
                            class="test-dark text-decoration-non">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>



<script>

    function startSpinner() {
        const spinnerBox = document.getElementById('spinner-box')
//        alert("startSpinner: " + spinnerBox)
        spinnerBox.classList.remove('not-visible')
        spinnerBox.classList.add('visible')
    }

    $(document).ready(function() {
        $('#datatable1').DataTable({
            stateSave: true,
        });
    } );
</script>

{% endblock %}