{% extends "base.html" %}
{% load static %}


{% load humanize %}

{% block content %}
    <h1 class="my5">Instrument Prices</h1>
    <span class="mr-0">
    <a href="{% url 'instrument_price.new' %}" class="btn btn-secondary">New Instrument Price</a>
    <a href="{% url 'instrument_price.loadYfin' %}" class="btn btn-secondary"
       onclick="startSpinner()">
        <span id="spinner-box" class="spinner-border spinner-border-sm not-visible" role="status" aria-hidden="true"></span>
        Load prices from YFinance</a>
    </span>

    <table id="datatable1" class="display stripe cell-border"
           style="width:100%" searching="true">
    <thead>
        <tr>
            <th>Instrument</th>
            <th>Price Source</th>
            <th>Open</th>
            <th>Close</th>
            <th>Low/High</th>
            <th>Volume</th>
            <th>Price</th>
            <th>Chg</th>
            <th>Chg (%)</th>
            <th>Yr Low/High</th>
            <th>% From Yr High</th>
            <th>MA 50</th>
            <th>MA 200</th>
            <th>Mkt Cap</th>
            <th>Updated On</th>
            <th></th>
        </tr>
    </thead>
        <tbody>
           {% for instrument_price in instrument_prices %}
            <tr>
                <td>
                    <a href="{% url 'instrument_price.details' pk=instrument_price.id %}" class="test-dark text-decoration-non">
                    {{ instrument_price.instrument }}
                    </a>
                     &nbsp;({{ instrument_price.exchange}} {{ instrument_price.currency}})
                </td>
                <td>{{instrument_price.price_source}}</td>
                <td>{{instrument_price.open.normalize}}</td>
                <td>{{instrument_price.close.normalize}}</td>
                <td>{{instrument_price.low.normalize |floatformat:2}} {{instrument_price.high.normalize |floatformat:2}}</td>
                <td>{{instrument_price.volume.normalize | intcomma}}</td>
                <td {% if instrument_price.change < 0 %} style="color: red;"
                          {% else %}style="color: blue;"
                          {% endif %}>
                {{instrument_price.price.normalize}}
                </td>
                <td {% if instrument_price.change < 0 %} style="color: red;"
                          {% else %}style="color: blue;"
                          {% endif %}>
                    {{instrument_price.change.normalize}}
                </td>
                <td {% if instrument_price.change_percent < 0 %} style="color: red;"
                          {% else %}style="color: blue;"
                          {% endif %}>
                    {{instrument_price.change_percent.normalize}} %
                </td>
                <td><span style="color: red;">{{instrument_price.year_low.normalize |floatformat:2}}</span>/<span style="color: blue;">{{instrument_price.year_high.normalize |floatformat:2}}</span>
                </td>
                <td style="color: darkorange;"><b>{{instrument_price.pcnt_from_year_high }} %</b></td>
                <td {% if instrument_price.price < instrument_price.ma50  %} style="color: red;"
                          {% else %}style="color: blue;"
                          {% endif %}>{{instrument_price.ma50.normalize |floatformat:2}}
                </td>
                <td {% if instrument_price.price < instrument_price.ma200  %} style="color: red;"
                          {% else %}style="color: blue;"
                          {% endif %}>{{instrument_price.ma200.normalize |floatformat:2}}
                    {% if instrument_price.ma50 > instrument_price.ma200 %}*{% endif %}
                </td>
                <td>{{instrument_price.mkt_cap | intcomma}}</td>
                <td>{{instrument_price.updated_on}}</td>
                <td>
                    <button onclick="window.location.href='{% url 'instrument_price.update' pk=instrument_price.id %}'"
                            class="test-dark text-decoration-non">Edit</button>
                    <button onclick="window.location.href='{% url 'instrument_price.delete' pk=instrument_price.id %}'"
                            class="test-dark text-decoration-non">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>



<script>

    function startSpinner() {
        const spinnerBox = document.getElementById('spinner-box')
//        alert("startSpinner: " + spinnerBox)
        spinnerBox.classList.remove('not-visible')
    }

    $(document).ready(function() {
        $('#datatable1').DataTable({
            stateSave: true,
        });
    } );
</script>

{% endblock %}