{% extends "base.html" %}

{% load humanize %}

{% block content %}

    <h1 class="my5">Positions</h1>
    <span class="mr-0">
    <a href="{% url 'trade.new' %}" class="btn btn-secondary">New Trade</a>
    <a href="{% url 'position.new' %}" class="btn btn-secondary">New Position</a>
    </span>
    <table id="datatable1" class="display stripe cell-border"
           style="width:100%" searching="true">
    <thead>

        <tr>
            <th>Portfolio</th>
            <th>Instrument</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Average Price</th>
            <th>Mkt Price</th>
            <th>Mkt Value</th>
            <th>Value Change</th>
            <th>UnrealisedPnL</th>
            <th>Unrealised (%)</th>
            <th>PnL</th>
            <th>Ex Div</th>
            <th>Div {{year}}</th>
            <th>Div {{last_year}}</th>
            <th>Div {{prev_year}}</th>
            <th>Created On</th>
            <th>Updated On</th>
            <th>Id</th>
            <th></th>
        </tr>
        <tr>
            <th>Portfolio</th>
            <th>Instrument</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Average Price</th>
            <th>Mkt Price</th>
            <th>Mkt Value</th>
            <th>Value Change</th>
            <th>UnrealisedPnL</th>
            <th>Unrealised (%)</th>
            <th>PnL</th>
            <th>Ex Div</th>
            <th>Div {{year}}</th>
            <th>Div {{last_year}}</th>
            <th>Div {{prev_year}}</th>
            <th>Created On</th>
            <th>Updated On</th>
            <th>Id</th>
            <th></th>
        </tr>
    </thead>
        <tbody>
            {% for row in positions %}
            <tr>
                <td>{{row.portfolio}}</td>
                <td>
                    <a href="{% url 'trade_by_portfolio_and_inst.list' portfolio=row.portfolio instrument=row.instrument %}"
                       class="test-dark text-decoration-non">
                        {{ row.instrument }}
                    </a>
                </td>
                <td>{{row.quantity |intcomma}}</td>
                <td>£{{row.cost.normalize |intcomma}}</td>
                <td>{{row.avg_price.normalize |intcomma}}</td>
                <td {% if row.change < 0 %} style="color: red;"
                          {% else %}style="color: blue;"
                          {% endif %}>
                {{row.mkt_price.normalize |intcomma}}
                {% if row.mkt_price != '' %}({% endif %}
                {% if row.change > 0 %}+{% endif %}{{row.change.normalize |floatformat:2}}
                {% if row.change_pct > 0 %}+{% endif %}{{row.change_pct.normalize |floatformat:2}}
                {% if row.mkt_price != '' %}% ){% endif %}
                </td>
                <td {% if row.change < 0 %} style="color: red;"
                          {% else %}style="color: blue;"
                          {% endif %}>
                    {% if row.quantity != 0 %}
                        £{{row.position_value.normalize |floatformat:2|intcomma}}
                    {% endif %}
                </td>
                <td {% if row.change < 0 %} style="color: red;"
                          {% else %}style="color: blue;"
                          {% endif %}>
                {% if row.quantity != 0 %}
                    £{% if row.value_change > 0 %}+{% endif %}{{row.value_change.normalize |floatformat:2|intcomma}}
                {% endif %}
                </td>
                <td {% if row.unrealised_pnl < 0 %} style="color: red;"
                          {% else %}style="color: blue;"
                          {% endif %}>
                    {% if row.quantity != 0 %}
                    £{{row.unrealised_pnl.normalize |floatformat:2|intcomma}}
                    {% endif %}
                </td>
                <td {% if row.unrealised_pnl_pct < 0 %} style="color: red;"
                          {% else %}style="color: blue;"
                          {% endif %}>
                {% if row.unrealised_pnl_pct > 0 %}+{% endif %}{{row.unrealised_pnl_pct.normalize |floatformat:2|intcomma}}
                {% if row.unrealised_pnl_pct != 0 %}%{% endif %}
                </td>
                <td {% if row.pnl < 0 %} style="color: red;"
                          {% else %}style="color: blue;"
                          {% endif %}>
                    {{row.pnl.normalize |intcomma}}
                </td>
                <td>{{row.ex_div_date}}
                    {% if row.div_payment_per_share != 0 %}{{row.div_payment_per_share.normalize | intcomma}}{% endif %}
                    <br>
                        <span style="color: blue;">{{row.payment_date}}
                    {% if row.quantity > 0 %}
                        {% if row.div_payment_per_share > 0 %}
                            £{% widthratio row.div_payment_per_share 1 row.quantity %}
                        {% endif  %}
                    {% endif  %}
                    </span>
                </td>
                <td  style="color: blue;">{{row.div_ytd.normalize |floatformat:2|intcomma}}</td>
                <td>{{row.div_last.normalize |floatformat:2|intcomma}}</td>
                <td>{{row.div_prev.normalize |floatformat:2|intcomma}}</td>
                <td>{{row.created_on}}</td>
                <td>{{row.updated_on}}</td>
                <td>
                    <button onclick="window.location.href='{% url 'position.update' pk=row.id %}'"
                            class="test-dark text-decoration-non">Edit {{row.id}}</button>
                </td>
                <td>
                    <button onclick="window.location.href='{% url 'position.delete' pk=row.id %}'"
                            class="test-dark text-decoration-non">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th style="color: blue;"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </tfoot>
    </table>


<script>

    $(document).ready(function() {

        var PORTFOLIO_COL = 0
        var INSTRUMENT_COL = 1
        var COST_COL = 3
        var MKT_VAL_COL = 6
        var MKT_VAL_CHG_COL = 7
        var UNREALISED_COL = 8
        var PNL_COL = 10
        var DIV_YTD_COL = 12
        var DIV_LAST_COL = 13
        var DIV_PREV_COL = 14
        var CREATED_COL = 15
        var UPDATED_COL = 16

        $('#datatable1').DataTable({
            order: [[PORTFOLIO_COL, 'asc'],[INSTRUMENT_COL, 'asc']],
            stateSave: true,
            autoWidth: true,
            columnDefs: [
                {
                    targets: [MKT_VAL_CHG_COL], // your field position
                    type: 'number',
                    render: function (data, type, row, meta) {
                        raw_data = data === ''
                            ? -90000000
                            : typeof data === 'string'
                            ? data.replace(/[\$£,+]/g, '') * 1
                            : typeof data === 'number'
                            ? i
                            : 0
                        if (type === 'sort') {
                            return raw_data;
                        }
                        return data;
                    },
                    orderable: true
                },
                {
                    targets: [CREATED_COL,UPDATED_COL], // your field position
                    type: 'datetime',
                    render: function (data, type, row, meta) {
                        var momentObj = moment(data, 'MMM. DD, YYYY, h:mm a');
                        if (type === 'sort') {
                            return momentObj.unix();
                        }
                        return momentObj.format('DD MMM YYYY HH:mm');
                    },
                    orderable: true
                }
            ],

            initComplete: function () {
                this.api()
                    .columns()
                    .every(function () {
                        let column = this;
                        let title = column.header().textContent;

                        // Create input element
                        let input = document.createElement('input');
                        input.placeholder = title;
                        column.header().replaceChildren(input);

                        // Event listener for user input
                        input.addEventListener('keyup', () => {
                            if (column.search() !== this.value) {
                                column.search(input.value).draw();
                            }
                        });
                    });
            },

        footerCallback: function (row, data, start, end, display) {
                let api = this.api();

                // Remove the formatting to get integer data for summation
                let intVal = function (i) {
                    return typeof i === 'string'
                        ? i.replace(/[\$£,]/g, '') * 1
                        : typeof i === 'number'
                        ? i
                        : 0;
                };

                var sum_cols = [COST_COL, MKT_VAL_COL, MKT_VAL_CHG_COL,
                                UNREALISED_COL, PNL_COL,
                                DIV_YTD_COL, DIV_LAST_COL, DIV_PREV_COL]
                for (var col of sum_cols)
                {
                    // Total over all pages
                    sum_val = api
                        .column(col, { page: 'current' })
                        .data()
                        .reduce((a, b) => intVal(a) + intVal(b), 0);
                    var sum_val = new Intl.NumberFormat("en-UK", {
                      style: "currency",
                      currency: "GBP"
                    }).format(sum_val);

                    api.column(col).footer().innerHTML = sum_val;
                }

            }


        });
    } );

</script>

{% endblock %}