{% extends "base.html" %}

{% load humanize %}


{% block content %}
    <h1 class="my5">Trades</h1> {{ extra_title }}
    <table id="datatable1" class="display stripe cell-border"
           style="width:100%" searching="true">
    <thead>

        <tr class="col-head">
            <th>BuySell</th>
            <th>Instrument</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Net Consideration</th>
            <th>Portfolio</th>
            <th>Trade Date</th>
            <th>Settlement Date</th>
            <th>Description</th>
            <th>Created On</th>
            <th>Updated On</th>
            <th>Reference/Id</th>
            <th></th>
        </tr>
            <tr>
            <th >BuySell</th>
            <th >Instrument</th>
            <th >Quantity</th>
            <th >Price</th>
            <th >Net Consideration</th>
            <th >Portfolio</th>
            <th >Trade Date</th>
            <th >Settlement Date</th>
            <th >Description</th>
            <th >Created On</th>
            <th >Updated On</th>
            <th >Reference/Id</th>
            <th></th>
            </tr>
    </thead>
        <tbody>
            {% for row in trades %}

            {% if row.buy_sell == 'B' %}
            <tr class="buy">
            {% else %}
            <tr class="sell">
            {% endif %}

                <td >{{row.buy_sell}}</td>
                <td>{{row.instrument}}</td>
                <td>{{row.quantity |intcomma}}</td>
                <td>£{{row.price |intcomma}}</td>
                <td>£{{row.net_consideration |intcomma}}</td>
                <td>
                    <a href="{% url 'portfolio.details' pk=row.portfolio.id %}" class="test-dark text-decoration-non">
                        {{row.portfolio}}
                    </a>
                </td>
                <td>{{row.trade_date}}</td>
                <td>{{row.settle_date}}</td>
                <td>{{row.description}}</td>
                <td>{{row.created_on}}</td>
                <td>{{row.updated_on}}</td>
                <td>
                    <button onclick="window.location.href='{% url 'trade.update' pk=row.id %}'"
                            class="test-dark text-decoration-non">Edit {{row.reference}}/{{row.id}}</button>
                </td>
                <td>
                    <button onclick="window.location.href='{% url 'trade.delete' pk=row.id %}'"
                            class="test-dark text-decoration-non">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th ></th>
            <th></th>
            </tr>

        </tfoot>
    </table>
<a href="{% url 'trade.new' %}" class="btn btn-secondary my-5">New</a>

<script>
    $(document).ready(function() {

        $('#datatable1').DataTable({
            order: [[6, 'desc']],
            stateSave: true,
            columnDefs: [
                {
                    targets: [6,7], // your field position
                    type: 'datetime',
                    render: function (data, type, row, meta) {
                        var momentObj = moment(data, 'MMM. DD, YYYY');
                        if (type === 'sort') {
                            return momentObj.unix();
                        }
                        return momentObj.format('DD MMM YYYY');
                    },
                    orderable: true
                },
                {
                    targets: [9,10], // your field position
                    type: 'datetime',
                    render: function (data, type, row, meta) {
                        var momentObj = moment(data, 'MMM DD YYYY, hh:mm');
                        if (type === 'sort') {
                            return momentObj.unix();
                        }
                        return momentObj.format('DD MMM YYYY HH:mm');
                    },
                    orderable: true
                },
            ],

            initComplete: function () {
                this.api()
                    .columns()
                    .every(function () {
                        let column = this;
                        let title = column.header().textContent;

                        // Create input element
                        let input = document.createElement('input');
                        input.placeholder = title;
                        column.header().replaceChildren(input);

                        // Event listener for user input
                        input.addEventListener('keyup', () => {
                            if (column.search() !== this.value) {
                                column.search(input.value).draw();
                            }
                        });
                    });
            },



        footerCallback: function (row, data, start, end, display) {
                let api = this.api();

                // Remove the formatting to get integer data for summation
                let intVal = function (i) {
                    return typeof i === 'string'
                        ? i.replace(/[\$£,]/g, '') * 1
                        : typeof i === 'number'
                        ? i
                        : 0;
                };

                buy_sell_arr = api.column(0, { page: 'current' }).data()
                inst_arr = api.column(1, { page: 'current' }).data()
                instrument = inst_arr[0]
                considerations = api.column(4, { page: 'current' }).data()
                    .map(function (val, index) {
                        return intVal(val) * (inst_arr[index]==instrument ? (buy_sell_arr[index]=='S' ? -1 : 1) : 0)
                    }
                    )
                quantities = api.column(2, { page: 'current' }).data()
                    .map(function (val, index) { return intVal(val) * (buy_sell_arr[index]=='S' ? -1 : 1) }
                    )
                // Total over all pages
                considerationTotal = considerations.reduce((a, b) => a + b, 0);
                qtyTotal = quantities.reduce((a, b) => a + b, 0);
                avgPrice = considerationTotal / qtyTotal

                var qtyTotal = new Intl.NumberFormat("en-UK", {
                  style: "decimal",
                }).format(qtyTotal);
                var considerationTotal = new Intl.NumberFormat("en-UK", {
                  style: "currency",
                  currency: "GBP"
                }).format(considerationTotal);
                var avgPrice = new Intl.NumberFormat("en-UK", {
                  style: "currency",
                  currency: "GBP"
                }).format(avgPrice);

                // Update footer
                api.column(1).footer().innerHTML =
                    instrument;
                api.column(2).footer().innerHTML =
                    qtyTotal;
                api.column(3).footer().innerHTML =
                    avgPrice;
                api.column(4).footer().innerHTML =
                    considerationTotal;
            },

        });
    } );
</script>

{% endblock %}
