{% extends "base.html" %}

{% block content %}
<div class="border round">
    <h1 class="my-5">{{trade.id}} : {{trade.reference}}</h1>
    <p>{{trade.buy_sell}} {{trade.instrument}} {{trade.quantity}} @ {{trade.price}}</p>
    <p>{{trade.portfolio}}</p>
    <p>{{trade.net_consideration}}</p>
    <p>Traded on: {{trade.trade_date}}  Settled on: {{trade.settle_date}}</p>
    <p>{{trade.description}}</p>
    <p>{{trade.created_on}}</p>
    <p>{{trade.updated_on}}</p>
</div>

<a href="{% url 'trade.list' %}" class="btn btn-secondary my-5">List</a>
<a href="{% url 'trade.update' pk=trade.id%}" class="btn btn-secondary">Edit</a>
<a href="{% url 'trade.delete' pk=trade.id%}" class="btn btn-danger">Delete</a>

{% endblock %}